<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LightningList</title>
    <link rel="stylesheet" href="~/css/pico.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LightningList.styles.css" asp-append-version="true" />
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Lightning List</a></li>
        </ul>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">New List</a></li>
            <li><a href="#" role="button">GitHub</a></li>

        </ul>
    </nav>

    <main class="container">
        @RenderBody()
    </main>


    <footer>
        &copy; 2023 - LightningList
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
